<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{fragments/general.html :: head}"></head>
  <body>
    <header th:replace="~{fragments/general.html :: header}"></header>
    <main class="container">
        <div class="row">
            <div class="col">
              <h1>Trang quản lý thành viên</h1>
              <!-- Trang này có thể chứa các mục như project 2 -->
              <!-- Ví dụ như: nhập mã thành viên khi vào khu học liệu -->
            </div>
        </div>
    </main>
    <footer th:insert="~{fragments/general.html :: footer}"></footer>
    <div th:insert="~{fragments/general.html :: scripts}"></div>
  </body>
</html>