<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{fragments/general.html :: head}"></head>
  <body>
    <header th:replace="~{fragments/general.html :: header_admin}"></header>
    <main class="container">
      <div class="row">
        <div class="col">
          <h2>Chi tiết vi phạm</h2>
          <!-- Bootstrap form delete request -->
          <form th:unless="${success} or ${error}" th:action="@{'/quantri/xuly/'+${xuLy.maXL}+'/xoa'}" method="post">
            <div class="row">
                <div class="col">
                    <div>
                        <p>Bạn có muốn xoá xử lý vi phạm này không? Lưu ý rằng hành động xoá này sẽ không thể khôi phục!</p>
                        <button class="btn btn-danger">Xoá</button>
                        <a th:href="@{'/quantri/xuly/'+${xuLy.maXL}}" class="btn btn-primary">Chỉnh sửa xử lý này</a>
                        <a th:href="@{/quantri/xuly}" class="btn btn-primary">Trang danh sách xử lý vi phạm</a>
                    </div>
                </div>
          </form>
          <!-- Bootstrap alerts -->
          <div th:if="${error}" class="alert alert-danger mb-3" role="alert">
            <span th:text="${error}"></span>
            <a th:href="@{'/quantri/xuly/'+${xuLy.maXL}}" class="btn btn-primary">Chỉnh sửa xử lý này</a>
          </div>
          <div th:if="${success}" class="alert alert-success mb-3" role="alert">
            <span th:text="${success}"></span>
            <a th:href="@{/quantri/xuly}" class="btn btn-primary">Quay về trang danh sách xử lý vi phạm</a>
          </div>
        </div>
      </div>
    </main>
    <footer th:insert="~{fragments/general.html :: footer}"></footer>
    <div th:insert="~{fragments/general.html :: scripts}"></div>
  </body>
</html>
