<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{fragments/general.html :: head}"></head>
  <body>
    <header th:replace="~{fragments/general.html :: header}"></header>
    <main class="container">
        <div class="col">
            <h1>Hello, world!</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã thành viên</th>
                        <th>Họ tên</th>
                        <th>Email</th>
                        <th>Khoa</th>
                        <th>Ngành</th>
                        <th>SĐT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="row, state: ${data}">
                        <td th:utext="${state.count}"></td>
                        <td th:utext="${row.MaTV}"></td>
                        <td th:utext="${row.HoTen}"></td>
                        <td th:utext="${row.Email}"></td>
                        <td th:utext="${row.Khoa}"></td>
                        <td th:utext="${row.Nganh}"></td>
                        <td th:utext="${row.SDT}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer th:insert="~{fragments/general.html :: footer}"></footer>
    <div th:insert="~{fragments/general.html :: scripts}"></div>
  </body>
</html>