<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{fragments/general.html :: head}"></head>
  <body>
    <header th:replace="~{fragments/general.html :: header}"></header>
    <main class="container">
        <div class="row">
            <div class="col">
                <h1>Cập nhật thông tin</h1>
                <form th:action="@{/hoso/}" method="post">
                    <!-- Bootstrap alert element -->
                    <div th:if="${error}" class="alert alert-danger mb-3" role="alert">
                        <span th:text="${error}"></span>
                    </div>
                    <div th:if="${success}" class="alert alert-success mb-3" role="alert">
                        <span th:text="${success}"></span>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Mã thành viên</label>
                        <input th:value="${ThanhVien.MaTV} ?: ''" type="text" class="form-control readonly disabled" id="username" readonly disabled>
                    </div>
                    <div class="mb-3">
                        <label for="fullname" class="form-label">Họ tên thành viên</label>
                        <input th:value="${ThanhVien.HoTen} ?: ''" type="text" class="form-control" id="fullname" readonly disabled>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input th:value="${ThanhVien.Email} ?: ''" type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="new_password" class="form-label">Mật khẩu mới (bỏ trống nếu không muốn thay đổi)</label>
                        <input type="password" class="form-control" id="new_password" name="new_password">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Mật khẩu hiện tại</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-success">Cập nhật thông tin</button>
                </form>
            </div>
        </div>
    </main>
    <footer th:insert="~{fragments/general.html :: footer}"></footer>
    <div th:insert="~{fragments/general.html :: scripts}"></div>
  </body>
</html>