<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{fragments/general.html :: head}"></head>
  <body>
    <header th:replace="~{fragments/general.html :: header_admin}"></header>
    <main class="container">
        <div class="row">
            <div class="col-md-8 mx-auto rounded border p-4 m-4">
                <h2 class="text-center mb-5" style="font-size: 36px">NHẬP EXCEL</h2>
                <form method="post" th:action="@{/quantri/thietbi/excel}" enctype="multipart/form-data">
                    <div th:if="${error}" class="alert alert-danger mb-3" role="alert">
                        <span th:text="${error}"></span>
                    </div>
                    <div th:if="${success}" class="alert alert-success mb-3" role="alert">
                        <span th:text="${success}"></span>
                    </div>
                    <p class="text-center">Chọn file Excel</p>
                    <div class="row mb-3">
                            <input type="file" name="file" accept=".xls,.xlsx">
                    </div>
                    <div class="row">
                        <div class="offset-sm-4 col-sm-4 d-grid">
                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                        </div>
                        <div class="col-sm-4 d-grid">
                            <a class="btn btn-secondary" th:href="@{/quantri/thietbi}">Thoát</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
       
    </main>
    <footer th:insert="~{fragments/general.html :: footer}"></footer>
    <div th:insert="~{fragments/general.html :: scripts}"></div>
  </body>
</html>