<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thêm thành viên</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
        <link th:href="@{/assets/css/member_add.css}" rel="stylesheet">
    </head>
    <body style="background:rgba(249,250,255,0.1)">
        <div class="wrapper">
            <h2>Cập nhật thành viên mới</h2>
            <form th:action="@{/quantri/thanhvien/capnhat}" method="post" th:object="${member}">
                <div class="mb-0">
                    <label for="maTV" class="form-label">Mã thành viên</label>
                    <input type="text" class="form-control" id="maTV" th:field="*{maTV}" placeholder="Mã thành viên" readonly>
                </div>
                <div class="mb-0">
                    <label for="hoTen" class="form-label">Họ và tên <span style="color: red">(*)</span></label>
                    <input type="text" class="form-control" id="hoTen" name="hoTen" th:field="*{hoTen}" placeholder="Họ và tên" required>
                </div>
                <div class="row">
                    <div class="col-6 mb-0">
                        <label for="khoa" class="form-label">Khoa</label>
                        <input type="text" class="form-control" id="khoa" name="khoa" th:field="*{khoa}" placeholder="Khoa" readonly>
                    </div>
                    <div class="col-6 mb-0">
                        <label for="nganh" class="form-label">Ngành</label>
                        <input type="text" class="form-control" id="nganh" name="nganh" th:field="*{nganh}" placeholder="Ngành" readonly>
                    </div>
                </div>

                <div class="mb-0">
                    <label for="sDT" class="form-label">Số điện thoại <span style="color: red">(*)</span></label>
                    <input type="tel" class="form-control" id="sDT" name="sDT" placeholder="Số điện thoại" th:field="*{sDT}" pattern="(03|09)\d{8}" title="Vui lòng nhập số điện thoại" required>
                </div>
                <div class="mb-0">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" th:field="*{email}" placeholder="Email" readonly>
                </div>
                <div class="btn-bottom mt-2">
                    <a th:href="@{/quantri/thanhvien}"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Trở về</button></a>
                    <button type="submit" class="btn btn-primary ms-2">Cập nhật</button>
                </div>
            </form>
        </div>
        <script>
            
        </script>
    </body>
</html>
